//globl transition css

/*fade*/
.fade-enter-active,
.fade-leave-active
  transition opacity 0.28s

.fade-enter,
.fade-leave-active
  opacity 0

/*fade-transform*/
.fade-transform-leave-active,
.fade-transform-enter-active
  transition all .3s

.fade-transform-enter
  opacity 0
  transform translateX(-30px)

.fade-transform-leave-to
  opacity 0
  transform translateX(30px)

/*fade-map*/
.fade-map-leave-active,
.fade-map-enter-active
  transition all 1s

.fade-map-enter
  transform translateY(calc(100vh - 40px))

.fade-map-leave-to
  transform translateY(calc(100vh - 40px))

/*roll*/
.roll-transform-leave-active,
.roll-transform-enter-active
  transition all .3s

.roll-transform-enter
  transform translateY(30px)

.roll-transform-leave-to
  transform translateY(-30px)